<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil - Dysha-jobs</title>
  <script src="/js/jobindex.js" th:src="@{/js/jobindex.js}"></script>
  <link rel="icon" type="image/*" th:href="@{/files/{uniqueName}(uniqueName='DyshaJobs_Logo')}">
  <link rel="stylesheet" th:href="@{/css/jobindex.css}" type="text/css" href="../../static/css/jobindex.css"/>
</head>
<body>
<div class="main-content">
<header th:replace="fragments/general.html :: dyshaJobsHeader"></header>
  <div th:if="${globalUser.isAdmin()}" class="jobs"> <a th:href="@{/dyshajobs/files/{tablename}/{entityid}/{fileType} (tablename='DyshaJobs_Logo', entityid=${globalUser.user.id}, fileType='image')}">Yo boss Tu peux ajouter un nouveau Logo</a></div>

<main th:object="${globalUser}">
  <section th:if="${searchJobs && searchJobs != null}" th:replace="fragments/general.html :: dyshaJobsListe(jobs=${searchJobs}, class='searchs', tittre='' + ${searchJobs.size} + ' Resultats pour votre recherche')"></section>
  <section th:if="${jobs}" th:replace="fragments/general.html :: dyshaJobsListe(jobs=${jobs}, class='jobs', tittre='Un appercu de jobs que nous proposons pour l\'instant')"></section>

</main>
</div>
<footer th:replace="fragments/general.html :: dyshaJobsFooter"></footer>
</body>
</html>
