<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css" href="../../static/css/index.css"/>
    <link rel="icon" type="image/*" th:href="@{/files/{uniqueName}(uniqueName='DyshaJobs_Logo')}">
</head>
<body class="ba=ckground">
<div class="container-fluid">
    <h1>Bienvenue <span th:text="${user.firstName}">[ROLE] - Name</span> Dysha Enterprise </h1>
    <ul>
        <li><a th:href="@{/dyshajobs}">
            <p> Site d'annonce de petit Jobs et services</p>
        </a>
        </li>
        <li th:if="${user.isAdmin() || user.isLeader()}"><a th:href="@{/productliste}">
            <p>Site de vente produits et services</p>
        </a></li>

        <li th:if="${user.isAdmin()|| user.isLeader()}"><a th:href="@{/paroisse/dashboard}">
            <p>Projet-paroissial</p>
        </a></li>

        <li th:if="${user.isAdmin()|| user.isLeader()}"><a th:href="@{/dyshamusicindex}">
            <p> Ecoutez et televerser vos music su r Dysha Music</p>
        </a></li>
    </ul>
    <div class="callout-info transbox">
        <h3> Les sites sont Pour le moment en evolution.N'hesitez pas a nous <a th:href="@{/contacts}">le signaler</a>  en cas d'erreur, ou de proposition d'amelioration sur le site Nous vous remercions de votre Comprehension</h3>
    </div>
</div>
</body>
</html>